<div class="product-card">
  <div class="card-header">
       <shared-flag></shared-flag>
  </div>
  <!-- Galería -->
  <div class="image-section">
    <img class="main-img" [src]="selectedImage" alt="{{ product.name }}">
    <div class="thumbnails">
      <img *ngFor="let img of product.images"
           [src]="img"
           [class.active]="img === selectedImage"
           (click)="changeImage(img)">
    </div>
  </div>

  <!-- Info -->
  <div class="info-section">



    <!-- Título -->
    <p class="shop">{{ product.shop }}</p>
    <h2>{{ product.name }}</h2>

    <!-- Estrellas -->
     <shared-app-raiting></shared-app-raiting>

    <!-- Colores -->
    <div class="options">
      <div class="colors">
        <span *ngFor="let color of product.colors"
              class="color-circle"
              [style.backgroundColor]="color"
              [class.active]="color === selectedColor"
              (click)="selectedColor = color">
        </span>
      </div>

      <!-- Tallas -->
      <div class="sizes">
        <select [(ngModel)]="selectedSize">
          <option *ngFor="let size of product.sizes" [value]="size">{{ size }}</option>
        </select>
      </div>
    </div>

    <!-- Descripción -->
    <p class="description">{{ product.description }}</p>

    <!-- Precio y botón -->
    <div class="price-cart">
      <span class="price">${{ product.price }}</span>
       <shared-btn-primary-with-icon [icon]="'fa-solid fa-cart-shopping'" [type]="'form'"></shared-btn-primary-with-icon>
    </div>
  </div>
</div>
