.container-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head-container-help {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: var(--font-weight-bold);
  margin-left: 40px;
}

i {
  cursor: pointer;
}

i:hover {
  color: var(--primary-orange-secondary-color);
}

.container-body-help {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
