<!-- login.component.html -->
<div class="login-container">
  <!-- Lado izquierdo - Formulario -->
  <div class="login-form-section">
    <div class="amazon-logo">
      <!-- <img src="/assets/imgs/logo.png" alt="Amazon" class="logo-img"> -->
    </div>

    <div class="form-container">
      <h2 class="form-title">Iniciar sesión</h2>

      <form (ngSubmit)="onLogin()" class="login-form">
        <!-- Campo Usuario -->
        <div class="form-group">
          <label for="email" class="form-label">Email:</label>
          <input id="email" [(ngModel)]="email" name="email" required type="email" class="form-input">

        </div>

        <!-- Campo Contraseña -->
        <div class="form-group">

           <label for="password" class="form-label">Password:</label>
           <input id="password" [(ngModel)]="password" name="password" required type="text" class="form-input">

        </div>

        <!-- Checkbox Recordar información -->
        <div class="form-group checkbox-group">
          <input
            type="checkbox"
            id="recordar"
            class="form-checkbox"
          >
          <label for="recordar" class="checkbox-label">Recordar mi información</label>
        </div>

        <!-- Enlace ¿Olvidaste tu contraseña? -->
        <div class="forgot-password">
          <a href="#"  class="forgot-link">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <!-- Botón Ingresar -->
        <button
          type="submit"
          class="btn-submit">
          Ingresar
        </button>
      </form>

      <!-- Separador OR -->
      <div class="separator">
        <span class="separator-text">O</span>
      </div>

      <!-- Botón Google -->
      <button type="button" class="btn-google">
        <img src="assets/google-icon.png" alt="Google" class="google-icon">
        Ingresar con Google
      </button>

      <!-- Enlace registro -->
      <div class="register-link">
        <span>¿Aún no tienes una cuenta? </span>
        <a   (click)="navigatorRegister()" class="register-anchor">Regístrate aquí</a>
      </div>
    </div>
  </div>

  <!-- Lado derecho - Ilustración -->
  <div class="container-img">
      <img src="/assets/imgs/login.gif" alt="">
  </div>
</div>







