<div class="container" (mouseleave)="onMenuHover()">
  <div class="section">
    <div class="container-icon">
      <img src="https://i.pinimg.com/564x/6b/88/33/6b88332812cc511d4e8cc3ea30ed38be.jpg" alt="imagen-de-perfil" class="img-perfil">
    </div>
    <label for="">Stich</label>
  </div>

  <div class="section">
    <div class="container-icon">
      <i class="fa-regular fa-paper-plane"></i>
    </div>
    <label for="">Mensajes</label>
  </div>

  <div class="section">
    <div class="container-icon">
      <i class="fa-solid fa-door-open"></i>
    </div>
    <label for="">Salir</label>
  </div>

</div>
