:host {
  width: fit-content;
  height: auto;
  display: block;
}

.circle-img{
  border-radius: 50%;
  background-color: var(--background-secondary-color);
  width:  200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img img {
  width: 70%;
  text-align: center;
}

.text{
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.text .title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
  margin-bottom: 2px;
}

.text .description {
  font-size: var(--font-size-text);
}

