.card{
  width: 300px;
  border-radius: 15px;
  position: relative;
  background: var(--background-secondary-color);
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.container-extraoptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: static;
  margin-top: 10px;

}
.container-extraoptions shared-btn-descuentos{
  margin-left: 5px;

}
img{
  width: 70%;
  display: block;

}

.card-body{
  background-color:var(--text-color-button);
  color: var(--text-color-ligth);
  text-align: left;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.card-body .card-text{
  padding: 15px;
}
label{
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.header-card{
  display: flex;
  justify-content: space-between;
}
.heart-icon{

  top: 12px;
  left: 12px;
  font-size: 18px;
  color: white;
  background: rgba(255, 0, 0, 0.8);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-right: 5px;

}

shared-btn-circle{
  margin-right: 5px;
}



