
.main-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-product{
  width: 118px;
  height: 67px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.title-price{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: var(--font-weight-bold);
}
.icon{
  width: 15px;
  height: 16px;
  top: 126px;
  left: 387px;
}
