
.container-products{
  display: flex;
  margin-top: 20px;
  overflow: auto;
}
.card-individual{
    margin-left: 15px;
}
.container-categories{
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
}


