<div class="layout-container">
  <shared-navbar></shared-navbar>
  <div class="container-page">
    <router-outlet></router-outlet>
  </div>
  <shared-footer></shared-footer>
  <!-- <shared-product-details
  [imgSrc]="'/assets/imgs/product-example.jpg'"
  [purchaseDate]="'12 de Abril, 2021'"
  [title]="'Nintendo Switch'"
  [brand]="'Club Nintendo'"
  [rating]="5"
  [deliveryDateTime]="'16/04/2021, 16:34 p.m.'"
  [receiverName]="'Joe Sanch'"
  [address]="'Lorem ipsum dolor sit amet, 12345, WT. NY.'"
  [statusTimeline]="[
    {date:'12/04/2021, 20:59', title:'Preparando tu paquete', completed:true},
    {date:'13/04/2021, 20:18', title:'Tu paquete salió de las instalaciones de Amazon', completed:true},
    {date:'14/04/2021, 15:10', title:'Tu producto está en camino', completed:true},
    {date:'16/04/2021, 16:34', title:'Paquete entregado', completed:true}
  ]"
></shared-product-details> -->
<!-- <shared-reviews-user [title]="'Muy Bueno'" [message]="'Excelente producto.Lo recomiendo con un 100% El vaso es vidrio de un buen grosor y grande.'" [icon1]="'fa-regular fa-thumbs-up'" [icon2]="'fa-regular fa-thumbs-down'"></shared-reviews-user> -->

</div>

<!-- Loader -->
<shared-fullscreen-loader *ngIf="loading$ | async"></shared-fullscreen-loader>
<!-- Menu user -->
<shared-menu-user *ngIf="showMenuUser$ | async"></shared-menu-user>


