:host {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  color: var(--text-color-ligth);
  display: block;
}

header {
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: var(--secondary-color);
}

/* Navegación */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Iconos del menu */

.menu-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.menu-icons a:hover, i:hover {
  color: var(--secondary-color);
  transition: color 0.3s;
  cursor: pointer;
}
