<header>
  <img class="logo" src="/assets/imgs/amazon-logo.png">

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/catalog">Catalog</a>
  </nav>

  <div class="menu-icons">
    <!-- User -->
    <a #iconUser
      (mouseenter)="onUserHover(true)"
      (mouseleave)="onUserHover(false)">
        <i class="fa-solid fa-user"></i>
    </a>
    <!-- Mensajes -->
    <a routerLink="/wishlist"><i class="fa-solid fa-cart-plus"></i></a>
    <!-- Cerrar sesion -->
    <i class="fa-solid fa-moon"></i>
  </div>
</header>

