<div class="main-card" (click)="onClick()">
    <div class="img-product">
       <img [src]="productData.image" alt="">
    </div>
    <div class="info-product">
        <label class="style-date">{{productData.fecha}}</label>
        <label class="text-title">{{productData.title}}</label>
        <label class="style-store">{{productData.store}}</label>
        <shared-app-raiting></shared-app-raiting>
    </div>
    <div class="number-order">
        <label>Orden número:</label>
        <label>{{productData.orderNumber}}</label>
    </div>
    <div class="link-detail">
          <a href="">Ver detalle</a>
    </div>
</div>
