:host{
  width: 100%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: var(--white-color);
}

/* Logo */
.logo {
  width: 68px;
  height: 20px;
  object-fit: cover;
  margin-right: 62px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  font-size: var(--font-size-small-caption);
}

.copy-right{
   font-size: var(--font-size-small-caption);
   font-weight: var(--font-weight-regular);
}
