:host {
  width: fit-content;
  display: flex;
  user-select: none;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  font-weight: var(--font-weight-regular);
  user-select: none;
}
