<div class="main-card">
  <label>Productos en carrito</label>
  <!--Productos detalles -->
  <div class="detail-product">
    <shared-details-shopping-cart-product *ngFor="let product of products"
      [productData]="product"></shared-details-shopping-cart-product>
  </div>
  <div class="detail-price">
    <label class="total">Total</label>
    <label class="price">$00,00</label>
  </div>

  <shared-btn-primary [text]="'Ir a carrito'" [type]="'card'" class="btn-card"></shared-btn-primary>
</div>
