:host {
  width: 445px;
  background-color: var(--white-color);
  height: auto;
  display: block;
}

.main-card{
  padding: 44px 42px 55px 44px;
}
label {
  font-size: var(--font-size-subtitle-2);
  font-weight: var(--font-weight-semibold);

}
.detail-product{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  gap: 37px;
}
.detail-price{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-price .total {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subtitle-1);
  color: var(--text-disabled-color);
}
.detail-price .price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-3);
}

.btn-card{
  width: 100%;
  height: 52px;
  margin-top: 40px;
}

.btn-card ::ng-deep .container-button {
  width: 100%;
}
