.main-card{
  width: 445px;
  padding: 42px 45px 44px 44px;
  background-color: var(--white-color);
}
.title{
  font-size: var(--font-size-subtitle-2);
  width: 300px;
  font-weight: var(--font-weight-semibold);
  margin-top:44px;
  margin-bottom: 45px;
}
h3{
  margin: 0;
}
.detail-product{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.total{
  font-weight: var(--font-weight-bold);
}

.btn-card{
  width: 100%;
  height: 52px;
  margin-top: 40px;
}

.btn-card ::ng-deep .container-button {
  width: 100%;
}
