<div class="card">
  <div class="header" (click)="OnclickCard()">
    <div class="image-container">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
  </div>

  <div class="footer">
    <div class="card-text">
      <label class="title">{{product.name | truncateText:[50, '...']}}</label>
      <div class="container-raiting">
        <shared-app-raiting [stars]="rating"></shared-app-raiting>
      </div>
      <div class="container-price">
        <label *ngIf="product.discount > 0" class="price">{{product.price|
          calculateDiscount:product.discount}}</label>
        <label class="discount">{{getPrice()}}</label>
        <label *ngIf="hasDiscount" class="discount-red">{{discount}}</label>
      </div>
    </div>
    <div class="container-isFavorite"> <i class="fa fa-heart fas"></i></div>
  </div>
</div>
