<div class="card">
  <div class="header" (click)="OnclickCard()">
    <div class="image-container">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
  </div>

  <div class="footer">

    <div class="card-text">
      <label class="title">{{product.name | truncateText:[50, '...']}}</label>
      <div class="container-raiting">
        <shared-app-raiting [stars]="rating"></shared-app-raiting>
      </div>

      <div >
           <label class="price">${{getPrice()}}</label>
      </div>

    </div>

    <div class="container-isFavorite"> <i class="fa fa-heart fas"></i></div>


  </div>
</div>
