/* styles.css */

/* *TIPOGRAFIA */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-family-base: "Montserrat", sans-serif;
  /* Size */
  --font-size-display: 56px;
  --font-size-title-1: 46px;
  --font-size-title-2: 33px;
  --font-size-title-3: 28px;
  --font-size-subtitle-1: 22px;
  --font-size-subtitle-2: 18px;
  --font-size-paragraph: 16px;
  --font-size-text: 14px;
  --font-size-caption: 12px;
  --font-size-small-caption: 10px;
  /* Weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
