/* themes.css */

/* Tema claro */
:root {
  --primary-color: #141B24;
  --secondary-color: #FF9900;
  --background-color: #fff;
  --background-secondary-color: #EEF3F9;
  --text-color: #565959;
  --text-color-ligth: #fff;
  --text-color-button: #565959;
  --text-color-red: #FF746C;
  --background-secondary-color: #f5f5f5;
}

/* Tema oscuro */
.dark-theme {
  --primary-color: #131921;
  --secondary-color: #febd69;
  --background-color: hsl(228, 5%, 15%);
  --background-secondary-color: #f5f5f5;
  --text-color: hsl(228, 5%, 80%);
  --text-color-ligth: hsl(228, 5%, 80%);
  --text-color-button: #565959;
  --text-color-red: #FF746C;
  --background-secondary-color: #f5f5f5;
}
