/* themes.css */

/* Tema claro */
:root {
/* Colores principales */

  /* Orange */
  --primary-orange-color: #FF9900;
  --primary-orange-secondary-color: #febd69;

  /* Imperial */
  --primary-imperial-color: #232f3e;
  --primary-imperial-secondary-color: #37475a;

  /* Primary Blue */
  --primary-blue-color: #18A0FB;

  /* Primary Black */
  --primary-black-color: #282828;

  --background-color: #fafafa;      /* Fondo principal */
  --white-color: #ffffff;      /* Fondo principal */
  --gray-secondary-color: #ededed;  /* Fondo secundario */
  --gray-third-color: #d0d0d0;      /* Fondo tercierio */

  /* Texto */
  --text-color: #565959;              /* Texto principal */
  --text-color-light: #fff;           /* Texto claro */
  --text-color-button: #565959;       /* Texto en botones */

  /* Estados */
  --success-color: #29d7a7;           /* Verde éxito */
  --warning-color: #ffc107;           /* Amarillo advertencia */
  --error-color: #f44336;             /* Rojo error */
}

/* Tema oscuro */
.dark-theme {
  --primary-color: #131921;
  --secondary-color: #febd69;
  --background-color: hsl(228, 5%, 15%);
  --background-secondary-color: #f5f5f5;
  --text-color: hsl(228, 5%, 80%);
  --text-color-ligth: hsl(228, 5%, 80%);
  --text-color-button: #565959;
  --text-color-red: #FF746C;
  --background-secondary-color: #f5f5f5;
}
