<shared-navbar></shared-navbar>

<div class="container-main">

  <div class="container-img">
    <div class="card">
      <div class="image-container">
        <img src="https://m.media-amazon.com/images/I/81rpkUQV3BL._AC_SX425_.jpg" alt="">
      </div>
    </div>

    <div class="card-footer">
      <div class="footer-images">
        <img src="https://m.media-amazon.com/images/I/81rpkUQV3BL._AC_SX425_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/81rpkUQV3BL._AC_SX425_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/81rpkUQV3BL._AC_SX425_.jpg" alt="">
      </div>
    </div>
  </div>


  <div class="container-info">
    <h2>Figura de Shinobu Kocho de Demon Slayer</h2>
    <div class="rating">
      <shared-app-raiting></shared-app-raiting>
    </div>
    <p>Cazadores de Demonios en Acción: Transforma tu espacio con estas increíbles figuras de acción de Demon Slayer.
      Desde el valiente Tanjiro hasta el feroz Inosuke, cada figura mide entre 11 y 14 cm, perfecta para decorar tus
      repisas.
      Guardianes de la Noche en tu Habitación: Invoca la magia de Demon Slayer en tu hogar con estas figuras de PVC
      reforzado. Nezuko, Zenitsu, y otros héroes de la serie se unen para crear una colección de personajes de acción
      que no solo son coleccionables, sino también ideales para regalar a cualquier fan de Kimetsu No Yaiba.
      El Legado de los Cazadores de Demonios: Celebra la saga épica de Demon Slayer con estas figuras de colección.
      Fabricadas con PVC Policloruro de Vinilo reforzado, estas obras maestras decorativas son ideales para cualquier
      aficionado. Agrega un toque único a tu espacio y rinde homenaje a los cazadores de demonios que roban el corazón
      de todos.</p>
    <p class="price">$ 00,00</p>
    <div class="container-info-footer">
      <!-- <button class="buy-btn" (click)="OnclickBack()">Regresar</button>
      <button class="buy-btn"><i class="fa-solid fa-cart-shopping"></i></button> -->
      <shared-btn-action [color_background]="'var(--secondary-color)'" [text]="'Regresar'" [color_text]="'var(--background-color)'" ></shared-btn-action>
      <shared-btn-action [color_background]="'var(--secondary-color)'" [text]="'Regresar'" [color_text]="'var(--background-color)'" (onclick)="OnclickBack()"></shared-btn-action>
    </div>
  </div>
</div>
