/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import './assets/themes.css';
/* *ICONOS */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import './assets/fonts.css';

html,
body {
  margin: 0;
  height: 100vh;
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  background-color: var(--background-color);
}

